@import "tailwindcss";
@import "leaflet-routing-machine/dist/leaflet-routing-machine.css";

/* Existing SF Pro Display */
@font-face {
  font-family: "SF Pro Display";
  src: url("./src/assets/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* ✅ Add Poppins */
@font-face {
  font-family: "Poppins";
  src: url("./src/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./src/assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./src/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "SF Pro Display", sans-serif;
  background-color: white;
}

@media print {
  body * {
    visibility: hidden !important;
  }

  .printable,
  .printable * {
    visibility: visible !important;
  }

  .printable {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100% !important;
    background: white !important;
    z-index: 9999 !important;
    padding: 0 !important;
    overflow: visible !important;
    max-height: none !important;
  }

  .print\:hidden {
    display: none !important;
  }
}

.Toastify__toast {
  padding: 15px 20px;
  min-width: 400px;
  max-width: 700px;
  word-wrap: break-word;
}

.tui-image-editor-menu-button {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
